<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Books - Visualization</title>

		<link rel="stylesheet" href="./static/css/main.css" />
	</head>
	<body>
		<header>
			<h1>My Journey Through Books</h1>
		</header>   
		<br/>
		<br/>
		<div class="chart">

			<div class="viz">
	   Visualization - 1
				<br/>       
			</div> 
			<div class="description">	 
				<br/> 
				<strong>Mouseover</strong> the circles to know the details of the books that I read over the years.
			</div>	  
			<div id="chart1"></div>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>

			<div class="viz">
	   Visualization - 2
				<br/>       
			</div> 
			<div class="description">	 
				<br/> 
       Below visualization illustrates the number of books I read in each month.
			</div>  
			<div id="chart2"></div>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>

			<div class="viz">
	   Visualization - 3
				<br/>       
			</div> 
			<div class="description">	 
				<br/> 
       Below visualization illustrates the books with <strong># of Pages</strong> and <strong>Rating</strong>. Use the <strong>Radio</strong> buttons for sorting.
			</div> 
<br/> 
  <p class = "center">Choose Bars for:</p>
 <div class="selectionclass">         
          <form style='text-align:center'>
          <input type="radio" id="Page" name="chooseorder"  value="Page" checked>
          <label for="Page"># of Pages</label>
          <input type="radio" name="chooseorder" id="Rating" value="Rating">
          <label for="Rating">Rating</label>
		  </form>
        </div>
		
		<div id="chart3"></div>
		 <p class = "center">Sort Bars by:</p>
		<div class="sortclass">        
          <form style='text-align:center'>
          <input type="radio" name="sortorder" id="Ascending" value="Ascending">
          <label for="Ascending">Ascending</label>
          <input type="radio" name="sortorder" id="Descending" value="Descending">
          <label for="Descending">Descending</label>
		  </form>
        </div>
			<br/>
			<br/>
			<br/>
			<br/>

			<div class="viz">
	   Visualization - 4
				<br/>       
			</div> 
			<div class="description">	 
				<br/> 
       Below visualization illustrates the number of books that I have read, currently reading and plan to read.
			</div>  
			<div id="chart4"></div>
			<br/>
			<br/>
			<br/>




			<div class="chart-footer">
				<strong>By</strong> <a href="https://www.linkedin.com/in/cbikkanur">Chandra Shekar Bikkanur</a>.
				<br />
				<strong>Source</strong>: <a href="https://www.goodreads.com/review/list/91823841">goodreads.com</a>
				<br/>
				<strong>Template by</strong>  <a href="https://johnguerra.co">John Alexis Guerra Gómez</a>.
			</div>

		</div>
		<br/>
		<br/>
		<div> 
    I was never a bibliophile until 2016, when I read books authored by Dale Carnegie, Napoleon Hill and Robert Kiyosaki. I started reading more non-fiction books as I found them more useful and applicable to real life scenarios.
    In 2019, I have taken up a challenge (goodreads.com challenge) to read 25 books by the end of the year. But, I read 24 books in 2019 and thus failing the challenge by 1 book. In above visualizations, you can see there is a spike in 2019 for the number of books I read. 
			<ul>
				<li>In visualization 1, you can mouseover the data point to see more details about each book such as title, author, rating and the date I completed reading it. </li>
				<li>In visualization 2, you can get the insights into how many books I read in each month over the years. </li>
				<li>In visualization 3, you can choose and sort the books by 1) Number of Pages 2) GoodRead's Rating for the book.</li>
			    <li>In visualization 4, you can get a glimpse of total number books I have read so far and the number of books I am currently reading and will be reading. </li>
			</ul>  	
			<br />
		</div>


		<h2>Problem Abstraction</h2>
		<!--div>
      Use Tamara Munzner's framework to Abstract your problem (what, why, how)
		</div-->

		<br />
		<table>
			<thead>
				<tr>
					<th colspan="2">Problem Abstraction</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>What</td>
					<td>
            We have tabular data conisting of Categorical, Ordered and DateTime datatypes. 
			The data is extracted from <a href="https://www.goodreads.com/review/list/91823841">goodreads.com</a>			
					</td>
				</tr>
				<tr>
					<td>Why</td>
					<td>To know more details (such as name of the boook, rating, number of pages and date) about the books I read over the years</td>
				</tr>
				<tr>
					<td>How</td>
					<td>Using Bar charts and Mark charts(circle) for visual encoding. Mouseover and hover for more details</td>
				</tr>
				<tr>
					<td>Example insight 1</td>
					<td>To know what is the most recent book that I read or the book with the maximum number of pages</td>
				</tr>
				<tr>
					<td>Example insight 2</td>
					<td>To know the rating of a book and to see the sorted order</td>
				</tr>
			</tbody>
		</table>

		<script src="https://d3js.org/d3.v4.js"></script>
		<script src="./static/js/main.js"></script>
	</body>
</html>